<div class="utility-bar">
    <div class="utility-bar-content">
        <a href="https://blog.pulumi.com/" title="Blog page" target="_blank">
            <i class="material-icons">open_in_new</i>&nbsp;Blog
        </a>
        <a href="https://join.slack.com/t/pulumi-community/shared_invite/enQtMzc4MDEyMTk5NzAyLWIxYTEwZmM5ZGFiZTQwZDMzOTMzYWIyM2EyOWIwNDg5YzE1MTg5OGQ5NDQ1MjIzNjcxNDU3NzM0ZWI4NDY1ZGY" title="Slack page" target="_blank">
            <i class="material-icons">open_in_new</i>&nbsp;Slack
        </a>
        <a href="https://pulumi.io/" title="Docs page" target="_blank">
            <i class="material-icons">open_in_new</i>&nbsp;Docs
        </a>
        <a href="https://app.pulumi.com/" title="Console page" target="_blank">
            <i class="material-icons">open_in_new</i>&nbsp;Console
        </a>
    </div>
</div>

<header class="mdl-layout__header mdl-layout__header--scroll toolbar">
    <div class="mdl-layout__header-row toolbar-content">
        {% if include.toc %}
            <button class="mdl-button mdl-js-button mdl-button--icon toggle-drawer-button" onclick="document.getElementById('app').MaterialLayout.toggleDrawer()">
                <i class="material-icons toolbar-icon">menu</i>
            </button>
        {% endif %}
        <a href="/">
            <img src="/images/logo/logo-inv.svg" class="toolbar-logo" alt="Pulumi">
        </a>
        <div class="mdl-layout-spacer"></div>
        <a href="https://app.pulumi.com/home">
            <button class="mdl-button mdl-js-button mdl-button-primary toolbar-button">
                DASHBOARD
            </button>
        </a>
    </div>
</header>
